@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import '@splidejs/splide/dist/css/splide.min.css';
@import '@splidejs/splide/dist/css/themes/splide-skyblue.min.css';

.open-sans{
     font-family: 'Open Sans', sans-serif;
}
.josefin-sans{
     font-family: 'Josefin Sans', sans-serif;
}
.text-shadow{
     text-shadow: 2px 3px 3px black;
}
.chevron {
     position: relative;
     text-align: center;
     padding: 12px;
     margin-bottom: 6px;
}
.chevron:before {
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     height: 100%;
     width: 51%;
     background: red;
     transform: skew(0deg, 6deg);
     z-index: 1;
}
.chevron:after {
     content: '';
     position: absolute;
     top: 0;
     right: 0;
     height: 100%;
     width: 50%;
     background: red;
     transform: skew(0deg, -6deg);
     z-index: 1;
}
.gold-gradient-text {
  background: -webkit-linear-gradient(gold,gray);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@layer components {
     .side-line {
          @apply overflow-hidden text-center
     }

     .side-line:before,
     .side-line:after {
          @apply bg-gray-300 w-1/2 relative h-0.5 inline-block align-middle;
          content: "";
     }

     .side-line:before {
     @apply right-3;
     margin-left: -50%;
     }

     .side-line:after {
     @apply left-3;
     margin-right: -50%;
     }
}